<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some error occured.</h1>
    <p>Sorry about this! We're working on fixing things.</p>
    <p>Thanks for your patience. </p>

<%- include('includes/end.ejs') %>